.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

*, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  top: 0;
  left: 0;
}

.logo__place_header {
  position: absolute;
  z-index: 3;
  margin-top: 30px;
  margin-left: 64px;
  width: 183px;
  height: 32px;
}

.header__title {
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  
}

.header__subtitle {
  width: 388px;
  margin-bottom: 30px;
  margin-left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.header__subtitle_link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}

.description {
  margin: 100px auto;
}

.two-columns {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__main-text_paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__main-text_paragraph:nth-of-type(2) {
  margin: 30px auto;
}

.two-columns__main-text_span-accent {
  font-weight: bold;
} 

.digits {
  padding: 100px;
}

.section-title {
  width: 60%;
  margin: 0 auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  margin: 0 auto 100px;
  padding: 60px 0 0;
}

.table_flex {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
 }

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell_text:nth-of-type(1) {
  margin-top: 20px;
  margin-bottom: 20px;
}

.feynman {
  height: 890px;
  padding-top: 100px;
  background-color: #f2f2f2;
  position: relative;
  z-index: -2;
}

.feynman__title {
  width: 648px;
  margin: 0 auto 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
  background-color: #000;
  z-index: -2;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__image_triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.logo__place_footer {
  width: 183px;
  height: 35px;
  display: flex;
}

.footer {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
  background-color: #000;
}

.footer__columns {
  min-height: 350px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column_content_copywright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px auto 18px 0;
}

.footer__column_heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column_links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 16px;
}

.footer__column_list {
  list-style-type: none;
}

.footer__column_links_none {
  text-decoration: none;
  color: white;
}